<h3> New Company Contact </h3>

<%= form_for [ @company, @contact ] do |f| %>
  <%= f.label :full_name, "First and Last Name" %>
  <%= f.string :full_name %>

  <%= f.label :position %>
  <%= f.string :position %>

  <%= f.label :email %>
  <%= f.string :email %>

  <%= f.submit %>
<% end %>
