<h1> New Company Contact </h1>

<div class= "container">
  <%= form_for ([ @company, @contact ]) do |f| %>
    <p class="label"><%= f.label :full_name, "First and Last Name" %></p>
    <%= f.text_field :full_name %>

    <p class="label"><%= f.label :position %></p>
    <%= f.text_field :position %>

    <p class="label"><%= f.label :email %></p>
    <%= f.text_field :email %><br>

    <p class="submit"><%= f.submit %></p>
  <% end %>
</div>
