<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

<ul class='nav-bar'>
  <li class='nav-bar-item'><a href="/">Dashboard</a></li>
  <li class='nav-bar-item'><a href="/companies">All Companies</a></li>
  <li class='nav-bar-item'><a href="/categories">All Categories</a></li>
  <li class='nav-bar-item'><a href="/jobs">All Jobs</a></li>
  <li class='nav-bar-item'><a href="/new-select">Add A New...</a></li>
</ul>

<%= yield %>

</body>
</html>
